<h1>Repeatcounter</h1>
<form action="/Repeatcounter" method="post">
  <label for="word">Enter your word</label>
  <input id="word" name="word" type="text">
  <label for="sentence">Enter your sentence</label>
  <input id="sentence" name="sentence" type="text">
  <div class="">
    <button type="submit">submit</button>
  </div>
</form>
