<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Super Awesome Site!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <style media="screen">
     h1
     {
       text-align: center;
     }
     body{
       background-color: black;
       color: blue;
     }
    </style>

  </head>
  <body>
    <div class="container">


    <h1 class="jumbotron">Word Counter App</h1>
    <h3>List of words and its repetitions</h3>
    <ul>
      @foreach(var word in Model)
      {

       <li>
        <p>Word: @word.GetWord()</p>
        <p>Sentence: @word.GetString()</p>
        <p>Word repetition in sentence: @word.CountWord() times</p>
       </li>

      }
    </ul>
    <a href="/RepeatCounter/new">Check another word</a>
    <p><a href='/'>Back to Main page<a/></p>

    </div>
  </body>
  </html>
